.custom-jumbotron {
    background-color: rgb(114, 114, 179);
    font-weight: bold;
    

}

.form {
    float: left;
    width: ;
    background-color: gray;
    margin-left: 10px;
    padding: 20px;
}